node_modules/
.env
__pycache__/
*.pyc
*.pth
*.pt
*.ckpt
*.h5
*.log
.DS_Store

# Python venv
venv/
backend/venv/

# ML models
*.pt
*.pth

# datasets
frames/
datasets/

# Any JSON credentials (Firebase, GCP, AWS, etc.)
flowgenix-beeb3-firebase-adminsdk-fbsvc-174e1fa766.json
*.json


# Firebase service account (DO NOT push)
serviceAccountKey.json

backend/weights/
*.pt
*.pth
*.torchscript
.venv/